#books,
#chole,
#cartoon {
    height: 300px;
    border: 2px solid;
    padding: 5px;
    border-radius: 350px;
    border-color: black;
}

body {
    text-align: center;
}


#happs {
    font-size: 30px;
    text-shadow: 2px 5px purple;
    font-family: 'Pacifico', cursive;
}

#myworktitle {
    font-size: 30px;
    text-shadow: 2px 5px red;
    font-family: 'Pacifico', cursive;
}

#artwork {
    font-size: 30px;
    text-shadow: 2px 5px coral;
    font-family: 'Pacifico', cursive;
    color: black;
}

#games {
    font-size: 30px;
    text-shadow: 2px 5px red;
    font-family: 'Pacifico', cursive;
}

#mychatbot {
    font-size: 30px;
    text-shadow: 2px 5px blue;
    font-family: 'Pacifico', cursive;
}

.css {
    transition: transform 0.2 s;
}

.css:hover {
    transform: scale(0.9);
}

#cartoon {
    padding: 8px;
}

#subtitle1 {
    font-size: 30px;
    text-shadow: 2px 5px #E53935;
    font-family: 'Pacifico', cursive;
}

#subheading2 {
    font-size: 30px;
    text-shadow: 2px 5px blue;
    font-family: 'Pacifico', cursive;
}

#subheading3 {
    font-size: 30px;
    text-shadow: 2px 5px white;
    font-family: 'Pacifico', cursive;
}

#shinchan {
    font-size: 20px;
    text-shadow: none;
    font-variant: small-caps;
    font-family: none;
}

#hobby {
    font-size: 20px;
    text-shadow: none;
    font-variant: small-caps;
    font-family: none;
}

#codingsec {
    background-color: gold;
}

#review {
    background-color: orange;
}

#section3 {
    background-color: crimson;
}

#cholebhature {
    font-size: 20px;
    text-shadow: none;
    font-variant: small-caps;
    font-family: none;
}

#inspiration {
    background-color: fuchsia;
}

#topic {
    font-size: 50px;
    color: purple;
}

#whatilove {
    background-color: coral;
}


#mypic {
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    width: 220px;
    margin-top: 70px;
}

.contact_1 h3 {
    display: inline;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}

.contact_1 a {
    text-shadow: none;
    color: black;
}

#me {
    text-decoration: none;
    background-image: linear-gradient(to right, #33f705, #f70523);
}

.visitlink a {
    text-shadow: none;
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

.visitlink2 {
    text-shadow: none;
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

.visitlink:hover {
    font-size: 30px;
    color: lightcoral;
}

.visitlink2:hover {
    font-size: 30px;
}

.menu {
    list-style: none;
    font-family: 'Staatliches', cursive;
    position: fixed;
    top: 5px;
    background-color: black;
    width: 96.5% height: 64px;
    margin-top: 0px;
    left: 5px;
    cursor: pointer;
}

#kalam {
    font-size: 30px;
    text-shadow: 2px 5px white;
    font-family: 'Pacifico', cursive;
}

#tocontact {
    font-size: 30px;
    text-shadow: 2px 5px gold;
    font-family: 'Pacifico', cursive;
    color: black;
}
}

#apjkalam {
    color: black;
    font-size: 15px;
    font-family: monospace;
}

.links {
    float: left;
    color: cornsilk;
    padding-top: 7px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 7px;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
    display: inline;
}

#myworks {
    background-color: indigo;
}

a {
    text-decoration: none;
    color: yellow;
}

.links:hover {
    background-color: chocolate;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid green;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-size: 30px;
}

#applinks {
    font-size: 20px;
    color: blanchedalmond;
}

#contact {
    color: burlywood;
    background-color: teal;
}

.line {
    height: 6px;
    background-color: #000;
    width: 340px;
    margin: 8px auto;
}

html {
    scroll-behavior: smooth;
}

#img1 {
    height: 350px;
}

#img2 {
    height: 400px;
    width: 300x;
}

#apj {
    height: 400px;
    width: 500px;
    margin-bottom: -15px;
}

#fam {
    height: 400px;
    width: 400px;
    margin-bottom: -15px;
}

#bookrev {
    color: darkblue;
    font-size: 30px;
    font-family: fantasy;
}

#famous5 {
    color: darkmagenta;
    font-size: 25px;
    font-family: 'Romanesco', cursive;
    background-color: beige;
}

#app {
    width: 100%;
    height: 800px;
}

#games {
    width: 100%;
    height: 600px;
}

#gameimg {
    transition: transform 0.2 s;
}

#gameimg:hover {
    transform: scale(0.9);
}

#chatbot {
    width: 100%;
    height: 800px;
}

a {
    text-decoration: none;
    color: beige;
    text-shadow: 2px 5px red;
}

#section1 {
    background-color: aqua;
}

#section2 {
    background-color: lawngreen;
}
